
<main>  
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="assets/images/database.PNG" class="img-fluid" alt="Responsive image">
      <h1 class="display-5 fw-bold">API REST</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Aplicacion hecha en PHP en la parte del backend y angular en la parte del frontend. En el repositorio del backend esta la base de datos poblada para realizar algunas pruebas en las operaciones CRUD.</p>
      </div>
    </div>
  
   
  </main>