<div class="container contenido">

    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <h2>Listado de empresas</h2>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-success pull-right" (click)="agregarEmpresa()">Agregar empresa</button>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div style="overflow-x:auto;">
                <table class="table table-hover">
                    <thead class="thead table-dark">
                    <tr>
                        <th scope="col">Tipo Documento</th>
                        <th scope="col">Numero de documento</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr *ngFor="let empresa of listadoEmpresas |  paginate: { itemsPerPage: 7, currentPage: pageActual }">
                        <td>{{empresa.tipo_documento}}</td>
                        <td>{{empresa.numero_documento}}</td>
                        <td>{{empresa.nombre_empresa}}</td>
                        <td>{{empresa.correo}}</td>
                        <td>{{empresa.telefono_empresa}}</td>
                        <td><button type="button" class="btn btn-info" (click)="mostrarDatosEmpresa(empresa.id_empresa)"><img src="assets/images/ver.png" class="icon-table" ></button></td>
                        <td><button type="button" class="btn btn-warning" (click)="mostrarDatosEmpresaEdicion(empresa.id_empresa)"><img src="assets/images/editar.png" class="icon-table" ></button></td>
                    </tr>
                    </tbody>
                </table>
            <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div> 
    </div>
</div>

<!--MODAL PARA LEER LOS DATOS DE C/U-->
<div *ngIf="modalVerEmpresa">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title">Datos de la empresa</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalVerEmpresa()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-inputs">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Tipo de documento</label>
                        
                        <input type="text" class="form-control" name="numero_documento" [(ngModel)]="nuevaEmpresa.tipo_documento" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Numero de documento</label>
                        <input type="text" class="form-control" name="numero_documento" [(ngModel)]="nuevaEmpresa.numero_documento" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Nombre de la empresa</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevaEmpresa.nombre_empresa" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Teléfono de la empresa</label>
                        <input type="text" class="form-control" [(ngModel)]="nuevaEmpresa.telefono_empresa" name="telefono_empresa" readonly>
                    </div>
                    <div class="col-12">
                        <label >Correo de la empresa</label>
                        <input type="text" class="form-control" name="correo" [(ngModel)]="nuevaEmpresa.correo" readonly>
                    </div>
                
           
                  </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="cerrarModalVerEmpresa()">OK</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!--MODAL PARA AGREGAR EMPRESA-->
<div *ngIf="modalAgregarEmpresa">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 17px;">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title">Agregar empresa</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerraModalAgregar()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-inputs">
            
                            <div class="row">
                            
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <label >Tipo de documento</label>
                                    <select class="form-select" aria-label=".form-select-sm example" [(ngModel)]="nuevaEmpresa.id_tipo_documento">
                                        <option *ngFor="let documento of listadoDocumentos" 
                                                [value]="documento.id_tipo_documento" 
                                        >{{documento.tipo_documento}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <label >Numero de documento</label>
                                    <input type="number" class="form-control" name="numero_documento" [(ngModel)]="nuevaEmpresa.numero_documento">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <label >Nombre de la empresa</label>
                                    <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevaEmpresa.nombre_empresa" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" >
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <label >Teléfono de la empresa</label>
                                    <input type="number" class="form-control" [(ngModel)]="nuevaEmpresa.telefono_empresa" name="telefono_empresa" >
                                </div>
                                <div class="col-12">
                                    <label >Correo de la empresa</label>
                                    <input type="email" class="form-control" name="correo" [(ngModel)]="nuevaEmpresa.correo" pattern='[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$'>
                                </div>
                            </div>
                        
                
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (click)="cargarInformacionEmpresa()">AGREGAR</button>
                    <button type="button" class="btn btn-danger" (click)="cerraModalAgregar()">CANCELAR</button>
                    </div>

                </div>
                </div>
            </div>
    </div>
</div>


<!--MODAL PARA EDITAR EMPRESA-->
<div *ngIf="modalEditarEmpresa">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title">Datos de la empresa</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalEdicionEmpresa()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-inputs">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Tipo de documento</label>
                        
                        <input type="text" class="form-control" name="numero_documento" [(ngModel)]="nuevaEmpresa.tipo_documento" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Numero de documento</label>
                        <input type="text" class="form-control" name="numero_documento" [(ngModel)]="nuevaEmpresa.numero_documento" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Nombre de la empresa</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevaEmpresa.nombre_empresa" readonly>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label >Teléfono de la empresa</label>
                        <input type="text" class="form-control" [(ngModel)]="nuevaEmpresa.telefono_empresa" name="telefono_empresa" >
                    </div>
                    <div class="col-12">
                        <label >Correo de la empresa</label>
                        <input type="text" class="form-control" name="correo" [(ngModel)]="nuevaEmpresa.correo" >
                    </div>
                
           
                  </div>
            </div>
            <div class="modal-footer">
                
            <button type="button" class="btn btn-primary" (click)="editarInformacionEmpresa()">EDITAR</button>
            <button type="button" class="btn btn-danger" (click)="cerrarModalEdicionEmpresa()">CANCELAR</button>
            </div>
        </div>
        </div>
    </div>
</div>