@media screen and (max-width: 320px) {
    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
      }
}

.icon-table{
    width: 25px;
    height: 25px;
}

.modal{
    text-align:center;
    background-color: rgba(225, 225, 225, 0.939);
   
    padding:0!important;         
}
.contenido{
    margin-top: 25px;
}
.text-inputs{
    text-align: left;
}

